{% extends 'base.html' %} {% block content %}

<div
  class="ui grid segment"
  style="
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 0px;
  "
>
  <div class="five wide column" style="padding: 0px">
    <a
      class="ui animated button circular"
      tabindex="0"
      href="{% url 'works' %}"
    >
      <div class="visible content">
        <i class="left arrow icon"></i>
      </div>
      <div class="hidden content">Back</div>
    </a>
  </div>
  <div class="six wide column" style="padding: 0px">
    <h1 class="ui header" style="display: flex; justify-content: center">
      <i class="plus square outline icon"></i>Complete Work
    </h1>
  </div>
  <div class="four wide column stackable"></div>
</div>

{% comment %}
<div class="ui container"></div>
{% endcomment %}

<div
  class="ui grid centered container"
  style="
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
  "
>
  <div class="eight wide column">
    <div class="eight wide column">
      {% comment %}
      <div class="ui attached message">
        <h1 class="ui header">Create Worker</h1>
        Welcome to our site!
      </div>
      {% endcomment %}

      <div class="ui fluid attached form segment">
        <div class="content">
          <form class="ui form" method="post">
            {% csrf_token %}
            <h3 class="ui header">Complete The Work</h3>

            <div class="field" style="display: none">
              <label>Work:</label>
              {{ form.work }}
            </div>

            <div class="ui tiny modal" id="complete-modal">
              <div class="header">
              <i class="check icon"></i>
                Complete The Work</div>
              <div class="content">
                <p>Are you sure you want to mark the work {{work}} as completed?</p>
                <p />
              </div>
              <div class="actions">
                <a class="ui negative button cancel-complete" href="{% url 'works' %}"
                >No</a>
                <a
                  type="submit"
                  value="Yes"
                  class="ui positive right labeled icon button confirm-complete"
                >Yes
                  <i class="checkmark icon"></i>
                </a>
              </div>
            </div>







            <p>Are you sure you want to mark the work {{work}} as completed?</p>

            <button class="ui button positive delete-button">
              <i class="check icon"></i>
              Complete
            </button>
            <a href="{% url 'workers' %}" class="ui button cancel-button"
              >Cancel</a
            >
          </form>
        </div>
      </div>
    </div>

    {% comment %}
    <div class="ui container">
      <div class="ui grid centered stackable">
        <div
          class="sixteen wide mobile eight wide tablet six wide computer column"
        >
          <div class="ui grid">
            <div class="ten wide column">
              <form class="ui form" method="post">
                {% csrf_token %}
                <div class="field">
                  <label for="{{ form.name.id_for_label }}">Name</label>
                  {{ form.name }}
                </div>
                <div class="field">
                  <label for="{{ form.role.id_for_label }}">Role</label>
                  {{ form.role }}
                </div>
                <div class="field">
                  <label>Rating</label>
                  <div class="ui star rating huge" id="rating-input"></div>
                  <input type="hidden" name="rating" id="rating-value" />
                </div>
                <div class="field">
                  <div class="ui slider checkbox">
                    <input
                      type="checkbox"
                      name="available"
                      id="availability-input"
                    />
                    <label
                      for="availability-input"
                      style="font-size: 1.2rem; font-color: #000000"
                    >
                      Available</label
                    >
                  </div>
                </div>
                <button type="submit" class="ui primary button">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endcomment %} {% comment %} redesign it make it more beautiful using
    sementic ui , use slider for the radio buttin and star icons for giving
    rating inputs , be creative {% endcomment %}
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#id_workers").dropdown();
  });

   $("#complete-modal").modal("show");

    $(".cancel-complete").click(function () {
      $("#complete-modal").modal("hide");
    });

    $(".confirm-complete").click(function () {
      $("form").submit();
    });




</script>

{% endblock %} {% comment %} {% extends 'base.html' %} {% block content %}
<div class="ui raised very padded text container segment">
  <h2 class="ui center aligned icon header">
    <i class="circular checkmark icon"></i>
    Confirm Work Completion
  </h2>

  <div class="ui large message">
    <p>Are you sure you want to mark the following work as completed?</p>
    <table class="ui celled table">
      <tbody>
        <tr>
          <td><strong>Description</strong></td>
          <td>{{ work.name }}</td>
        </tr>
        <tr>
          <td><strong>Worker</strong></td>
          <td>{%for worker in work.workers.all%} {{ worker }} {%endfor%}</td>
        </tr>
        <tr>
          <td><strong>Status</strong></td>
          <td>{{ work.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <form method="POST">
    {% csrf_token %} {{ form.as_p}}
    <button class="ui green button" type="submit">Confirm Completion</button>
    <a class="ui red button" href="{% url 'works' %}">Cancel</a>
  </form>
</div>
{% endblock %} {% endcomment %}
